:root {
    --brown: #260B1D;
    --tan: yellow;
    --orange: #D99036;
    --pink: #A66060;
    --black: #0D0D0D;
    /* https://color.adobe.com/Space-Voyagers-color-theme-acd4fe31-6b03-4dc0-863c-22566746fbba */
  }

body {}

header {}

nav {}

.filters {}

.game-card {}

.app-Name {}

.game-Title {}
  
.ratings {}

.original-Price {}

.current-Price {}

.store-btn {}