:root {
  --brown: #260B1D;
  --yellow: yellow;
  --orange: #D99036;
  --pink: #A66060;
  --black: #0D0D0D;
  /* https://color.adobe.com/Space-Voyagers-color-theme-acd4fe31-6b03-4dc0-863c-22566746fbba */
}

body {
background-color: var(--brown);
}

h1 {
color: var(--orange);
}

.form {}

.filters {
color: var(--pink);
}

.game-card {
  width: 16rem; 
  height: 20rem; 
}
.game-card img {
 
  height: 45%; 
  
}


.app-Name {}

.game-Title {}

.ratings {}

.original-Price {}

.current-Price {}


.store-btn {
background-color: var(--pink);
color: var(--brown);
}

.search-Btn {
background-color: var(--pink)
}
 .free-nav {
  background-color: var(--brown);
 }

.hide {
display: none;
}